.action-view {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    cursor: pointer;

    color: #000;
    border: none;
    background-color: initial;
}

.action-view:disabled {
    pointer-events: none;

    opacity: 0.3;
}
