body {
    background-color: #f5f6f8;
}

.app {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    min-height: 100vh;
}

.app__main {
    box-sizing: border-box;
    padding: 15px;
}
