.main {
    display: flex;
    /*align-items: center;*/
    flex-direction: row;
    text-align: center;
}

.main-logo {
    height: 40vmin;
}

.main-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    min-height: 100vh;

    color: white;
    background-color: #282c34;

    font-size: calc(10px + 2vmin);
}

.main-link {
    color: #09d3ac;
}

.chart-usage-wrapper {
    display: flex;
    flex-direction: row;
}

.charts-wrapper {
    display: flex;
    flex-direction: column;
}

.main__aside {
}